.home-container {
  width: 100%;
  height: 100vh;
}

.home-container md-sidenav {
  width: 300px;
}

.home-container .mat-sidenav-content,
.home-container md-sidenav {
  display: flex;
  overflow: visible;
}

.router-container {
  overflow: auto;
}

.home-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
