<div class="style-guide-container">
  <hr>

  <div class="status-card--container">
    <md-card class="status-card" *ngFor="let class of ['', 'orange', 'blue']">
      <div class="status-card--icon {{ class }}">
        <md-icon>home</md-icon>
      </div>
      <div class="status-card--header">
        <span class="title">Used Space</span>
        <h1 class="detail">49/50 <small>GB</small></h1>
      </div>
      <div class="status-card--footer">
        <md-icon>warning</md-icon>  Get More Space...
      </div>
    </md-card>
  </div>

  <hr>
</div>
