.style-guide-container {
  padding: 25px;
}

.status-card--container {
  display: flex;
  padding: 48px 0;
  .status-card {
    margin: 0 14px;
    width: 33.33%;

    .status-card--icon {
        &.orange  {
          background-color: #F60;
        }
        &.blue  {
          background-color: #26c6da;
        }
    }
  }
}


.super-card--container {
  display: flex;
  padding: 48px 0;
  .super-card {
    margin: 0 14px;
    width: 33.33%;
  }
}
