<div class="style-guide-container">
  <hr>

  <div class="status-card--container">
    <md-card class="status-card" *ngFor="let class of ['', 'orange', 'blue']">
      <div class="status-card--icon {{ class }}">
        <md-icon>home</md-icon>
      </div>
      <div class="status-card--header">
        <span class="title">Used Space</span>
        <h1 class="detail">49/50 <small>GB</small></h1>
      </div>
      <div class="status-card--footer">
        <md-icon>warning</md-icon>  Get More Space...
      </div>
    </md-card>
  </div>

  <hr>

  <div class="super-card--container">
    <md-card class="super-card" *ngFor="let class of ['', 'orange', 'blue']">
      <div class="super-card--header">
        <div class="cover"></div>
      </div>
      <div class="super-card--tools">
      </div>
      <div class="super-card--content">
        <a href="#" class="title">Cozy 5 Stars Apartment</a>
        <p class="content">The place is close to Barceloneta Beach and bus stop just 2 min by walk and...</p>
      </div>
      <div class="super-card--footer">
        <md-icon>warning</md-icon>  Get More Space...
      </div>
    </md-card>
  </div>

  <hr>
</div>
