
<button (click)="openDialog()">OPEN</button>
<md-input-container>
  <input mdInput placeholder="Favorite food" value="Sushi" type="email">
</md-input-container>
<div class="container-fluid">
<h4>Drag-and-Drop - Shopping basket</h4>
<div class="row">
  <div class="col-sm-3 ">
    <div class="panel panel-success">
      <div class="panel-heading ">Available products</div>
      <div dnd-droppable (onDropSuccess)="addToBasket($event)" [dropZones]="['demo2']" class="panel-body test">
        <div *ngFor="let product of availableProducts" class="panel panel-default " dnd-draggable [dragData]="product" (onDragSuccess)="orderedProduct($event)"
          [dropZones]="['demo1']">
          <div class="panel-body">
            {{product.name}} - {{product.type}}- \${{product.cost}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
    <div dnd-droppable (onDropSuccess)="addToBack($event)" [dropZones]="['demo1']" class="panel panel-info">
      <div class="panel-heading">Shopping Basket &nbsp; (to pay: \${{totalCost()}})
      </div>
      <div class="panel-body test">
        <div dnd-draggable [dragEnabled]="true" [dragData]="product" [dropZones]="['demo2']" (onDragSuccess)="backProduct($event)"
          *ngFor="let product of shoppingBasket" class="panel panel-default">
          <div class="panel-body">
            {{product.name}}<br>(Amount: {{product.quantity}}<br>Cost: \${{product.cost * product.quantity}})
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="style-guide-container">
  <hr>

  <div class="status-card--container">
    <md-card class="status-card orange" >
      <div class="status-card--icon {{ class }}">
        <md-icon>home</md-icon>
      </div>
      <div class="status-card--header">
        <span class="title">Used Space</span>
        <h1 class="detail">49/50 <small>GB</small></h1>
      </div>
      <div class="status-card--footer">
        <md-icon>warning</md-icon>  Get More Space...
      </div>
    </md-card>
  </div>

  <hr>
</div>

<md-spinner></md-spinner>